body {
    background-color: #4c7a9d; 
   
}
.verticalPadding {
    padding-right: 200px; /* Space for vertical menu */
}

/* Header styles */
#row1 {
    text-align: center;
    background-color: #222; 
    padding: 20px;
}

#heading1 {
    color: white;
}

/* Vertical menu styles */
.vertical-menu {
    width: 200px;
    position: fixed; 
    right: 0;
    top: 0;
    background-color: #333;
    height: 100%;
    padding-top: 20px;
}

.vertical-menu a {
    display: block;
    color: white;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #575757;
}



.chart-container {
    background-color: rgb(71, 154, 187);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

canvas {
    width: 100% !important;
    height: auto !important;
}


/*loginpage*/
.w35{
    width: 35%;
    align-items: center;
    min-height: 79.5vh;
    justify-content: center;
    display: flex;
}




/*query*/
.cente{
    align-items: center;
    text-align: center;
    align-content: center;
    align-self: center;
}
.asd{
    width: 35%;
    align-items: center;
    margin-top:5vh;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

.query-result-table-wrapper {
    overflow: auto;
    max-height: 800px;
    max-width: 100%; 
    border: 1px solid #ddd; 
    background-color: #f9f9f9; 
    display: inline-block;
}

.query-result-table {
    background-color: rgb(71, 154, 187); 
    color: white; 
    width: auto; 
    margin: 0; 
    table-layout: auto; }

.query-result-table th {
    background-color: rgba(71, 154, 187, 0.85); 
    border: 3px solid white; 
    text-align: center; 
    padding: 5px 8px 5px 8px;
    white-space: nowrap; 
}

.query-result-table td {
    border: 1px solid rgba(255, 255, 255, 0.8); 
    text-align: center; 
    padding: 2px 8px 2px 8px;
    white-space: nowrap; 
}

.query-result-table th,
.query-result-table td {
    border-spacing: 0; /* Removes spacing between table cells */
}

/*modify*/
.form-group {
    display: flex;
    align-items: center;
    justify-items:auto;
    margin-bottom: 1rem;
}

.form-group label {
    flex: 1;
    margin-right: 10px;
}

.form-group input {
    flex: 0 0 20%;
}

